---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <span class="post-words" style="position: absolute; margin: 10px; background-color: #ffffff;"><b>{{post.title}}</b> // {{post.description}}</span>
</article>

{% endfor %}

{% include pagination.html %}
