---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <a href="{{site.baseurl}}/"><div class="author-name"><b>{{site.author}}</b></div></a>
      <p>{{site.about-author}}</p>
      <br>
      <br>
      <a href="{{site.baseurl}}/"><div class="post-words">work</a>
      <a href="{{site.baseurl}}/funstuff/"><div class="post-words">cool stuff</div></a>
      <a href="{{site.baseurl}}/about/"><div class="post-words">about me</div></a>
    </div>
      <br>
      <br>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
      <section class="contact">
      <ul>
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fas fa-envelope"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:example.david@blog.com"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://www.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
  </header> <!-- End Header -->
  <footer>
  
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
